<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SM_Scheduling_Tracker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SM_Scheduling_Tracker.My.MySettings>
            <setting name="DBName" serializeAs="String">
                <value>sm_scheduling_tracker</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DBServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
        </SM_Scheduling_Tracker.My.MySettings>
    </applicationSettings>
</configuration>
